.container {
    margin: 20px;
  }
  
  .customer-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .customer-table th,
  .customer-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .customer-table th {
    background-color: #f5f5f5;
  }
  
  .customer-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .pack-data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .pack-data-table th,
  .pack-data-table td {
    padding: 8px 10px;
    text-align: left;
  }
  
  .pack-data-table th {
    background-color: #f5f5f5;
  }
  
  .pack-data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .error-message {
    color: #ff0000;
    font-weight: bold;
  }
  
  .customer-table th {
    background-color: #4c94ac;
    color: white;
  }
  
  .customer-table td {
    color: #333;
  }
  
  .pack-data-table th {
    background-color: #5e97a1;
    color: white;
    width: 30%;
  }
  
  .pack-data-table td {
    color: #555;
  }

  .loader{
    text-align: center;
    position: relative;
    top: 250px;
    color: #1c67a3;
  }
  